<header>
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-7">
                    <p><i aria-hidden="true" class="fa fa-clock-o fa-lg"></i> Monday to Saturday - 8am to 5pm
                    </p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-5">
                    <div class="social-grid">
                        <ul class="list-unstyled text-right">
                            <li><a class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="middle-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 middle-header-block">
                    <div class="col-md-3 col-sm-3 col-xs-4">
                        <div class="logo">
                            <a href="home.html"><img src="assets/images/logo.PNG" class="img-responsive"
                                    alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-8 middle-header-block-equal-set">
                        <div class="row">
                            <ul class="list-unstyled">
                                <li class="col-md-3 hidden-sm hidden-xs"></li>
                                <li class="col-md-3 col-sm-4 col-xs-6 width-set-100">
                                    <p>Call Now <i class="fa fa-mobile fa-lg yellow-text"
                                            aria-hidden="true"></i></p>
                                    <h5><a href="tel:+1-202-555-0100"> +1-202-555-0100</a></h5>
                                </li>
                                <li class="col-md-3 col-sm-4 col-xs-6 width-set-100">
                                    <p>Email <i class="fa fa-envelope-o yellow-text" aria-hidden="true"></i></p>
                                    <h5><a href="mailto:demo@info.com"> mail</a></h5>
                                </li>
                                <li class="col-md-3 col-sm-4 col-xs-12">
                                    <p>Find Us <i class="fa fa-map-marker yellow-text" aria-hidden="true"></i>
                                    </p>
                                    <h5>701 Old York Drive Richmond USA.</h5>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>