
            <!--end-->
            <section class="image-head-wrapper">
                <div class="container">
                    <div class="inner-wrapper">
                        <h1><span>S</span>ervices</h1>
                    </div>
                </div>
            </section>
            <div class="clearfix"></div>

            <section class="welcome-block section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="section-heading">
                                <h2>What we do</h2>
                            </div>
                        </div>
                    </div>
                    <p class="offspace-20">Ut consequat velit a metus accumsan, vel tempor nulla blandit. Integer euismod magna vel mi congue suscipit.nsequat velit a metus accumsan, vel tempor nulla blandit. Integer euismod magna vel mi congue susci consequat velit a metus accumsan, vel tempor nulla blandit. Integer euismod magna vel mi congue consequat velit a metus accumsan, vel tempor nulla blandit. Integer euismod magna</p>
                </div>
                <div class="clearfix"></div>
            </section>

            <section class="service-block section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="section-heading">
                                <h2>our services</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row offspace-70">
                        <div class="col-md-3 col-sm-6 col-xs-12 width-50">
                            <div class="service-details text-center">
                                <div class="service-image">
                                    <img alt="image" src="assets/images/icons/scissors-and-comb.png">
                                </div>
                                <h4><a>HAIRCUTS</a></h4>
                                <p>Suspendisse sed tortor erat. Suspendisse neque tortor, iaculis ac ipsum sed, finibus aliquet nunc.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 width-50">
                            <div class="service-details text-center">
                                <div class="service-image">
                                    <img alt="image" src="assets/images/icons/razor-hair-salon-tool.png">
                                </div>
                                <h4><a>SHAVES</a></h4>
                                <p>Suspendisse sed tortor erat. Suspendisse neque tortor, iaculis ac ipsum sed, finibus aliquet nunc.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 mt-25">
                            <div class="service-details text-center">
                                <div class="service-image">
                                    <img alt="image" src="assets/images/icons/male-head-hair-and-beard.png">
                                </div>
                                <h4><a>BEARD trim</a></h4>
                                <p>Suspendisse sed tortor erat. Suspendisse neque tortor, iaculis ac ipsum sed, finibus aliquet nunc.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 mt-25">
                            <div class="service-details text-center">
                                <div class="service-image">
                                    <img alt="image" src="assets/images/icons/male-hair-of-head-and-face-shapes.png">
                                </div>
                                <h4><a>Mustache TRIM</a></h4>
                                <p>Suspendisse sed tortor erat. Suspendisse neque tortor, iaculis ac ipsum sed, finibus aliquet nunc.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
