 <!---footer--->
 <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 width-50 width-set-50">
                <div class="footer-details">
                    <h4>useful links</h4>
                    <ul class="list-unstyled footer-links">
                        <li class="active"><a>Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="service.html">Services</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li> <a href="blog.html">Blog</a></li>
                        <li> <a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 width-set-50">
                <div class="footer-details">
                    <h4>opening hours</h4>
                    <ul class="list-unstyled time-schedule-list">
                        <li><span>week days : 8am - 10pm</span></li>
                        <li><span>Saturday : 8am - 5pm</span></li>
                        <li class="change-col"><span>Sunday : Closed</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-5 col-xs-12">
                <div class="footer-details">
                    <h4>our social media</h4>
                    <div class="footer-social-icon">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </div>

                    <div class="tag-list">
                        <h3>Tags</h3>
                        <ul class="list-unstyled group-sm">
                            <li><a href="#" class="btn-tag">Hairs</a></li>
                            <li><a href="#" class="btn-tag">Baby Cut</a></li>
                            <li><a href="#" class="btn-tag">Body Massage</a></li>
                            <li><a href="#" class="btn-tag">Hair Spa</a></li>
                            <li><a href="#" class="btn-tag">Makeup</a></li>
                            <li><a href="#" class="btn-tag">Facial</a></li>
                            <li><a href="#" class="btn-tag">Styles</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 insta-block">
                <div class="footer-details">
                    <h4>Now On Instagram</h4>
                    <div class="row">
                        <div class="instagram-images">
                            <div id="instafeed"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <!--Do not remove Backlink from footer of the template. To remove it you can purchase the Backlink !-->
            &copy; 2017 All right reserved. Designed by <a href="http://www.themevault.net/"
                target="_blank">ThemeVault.</a>
        </div>

    </div>
</footer>