
            <!--end-->
            <section class="image-head-wrapper">
                <div class="container">
                    <div class="inner-wrapper">
                        <h1><span>G</span>allery</h1>
                    </div>
                </div>
            </section>
            <div class="clearfix"></div>

            <section class="welcome-block section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="section-heading">
                                <h2>What we do</h2>
                            </div>
                        </div>
                    </div>
                    <p class="offspace-20">Ut consequat velit a metus accumsan, vel tempor nulla blandit. Integer euismod magna vel mi congue suscipit.nsequat velit a metus accumsan, vel tempor nulla blandit. Integer euismod magna vel mi congue susci consequat velit a metus accumsan, vel tempor nulla blandit. Integer euismod magna vel mi congue consequat velit a metus accumsan, vel tempor nulla blandit. Integer euismod magna</p>
                </div>
                <div class="clearfix"></div>
            </section>

            <section class="gallery-block section-padding" id="gallery">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="section-heading">
                                <h2>Gallery</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row offspace-70">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 width-set-50">
                            <div class="gallery-image">
                                <img src="assets/images/gallery1.png" class="img-responsive">
                                <div class="overlay">
                                    <a data-lightbox="example-1" href="assets/images/gallery1-1.png" class="info pop example-image-link img-responsive"><i aria-hidden="true" class="fa fa-search fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 width-set-50">
                            <div class="gallery-image">
                                <img src="assets/images/gallery2.png" class="img-responsive">
                                <div class="overlay">
                                    <a data-lightbox="example-1" href="assets/images/gallery2-2.png" class="info pop example-image-link img-responsive"><i aria-hidden="true" class="fa fa-search fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 width-set-50">
                            <div class="gallery-image">
                                <img src="assets/images/gallery3.png" class="img-responsive">
                                <div class="overlay">
                                    <a data-lightbox="example-1" href="assets/images/gallery3-3.png" class="info pop example-image-link img-responsive"><i aria-hidden="true" class="fa fa-search fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 width-set-50">
                            <div class="gallery-image">
                                <img src="assets/images/gallery4.png" class="img-responsive">
                                <div class="overlay">
                                    <a data-lightbox="example-1" href="assets/images/gallery4-4.png" class="info pop example-image-link img-responsive"><i aria-hidden="true" class="fa fa-search fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 width-set-50">
                            <div class="gallery-image">
                                <img src="assets/images/gallery5.png" class="img-responsive">
                                <div class="overlay">
                                    <a data-lightbox="example-1" href="assets/images/gallery5-5.png" class="info pop example-image-link img-responsive"><i aria-hidden="true" class="fa fa-search fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 width-set-50">
                            <div class="gallery-image">
                                <img src="assets/images/gallery6.png" class="img-responsive">
                                <div class="overlay">
                                    <a data-lightbox="example-1" href="assets/images/gallery6-6.png" class="info pop example-image-link img-responsive"><i aria-hidden="true" class="fa fa-search fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 width-set-50">
                            <div class="gallery-image">
                                <img src="assets/images/gallery7.png" class="img-responsive">
                                <div class="overlay">
                                    <a data-lightbox="example-1" href="assets/images/gallery7-7.png" class="info pop example-image-link img-responsive"><i aria-hidden="true" class="fa fa-search fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 width-set-50">
                            <div class="gallery-image">
                                <img src="assets/images/gallery8.png" class="img-responsive">
                                <div class="overlay">
                                    <a data-lightbox="example-1" href="assets/images/gallery8-8.png" class="info pop example-image-link img-responsive"><i aria-hidden="true" class="fa fa-search fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </section>