<!--end-->
<section class="image-head-wrapper">
    <div class="container">
        <div class="inner-wrapper">
            <h1><span>A</span>bout Us</h1>
        </div>
    </div>
</section>
<div class="clearfix"></div>

<section class="welcome-block section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-heading">
                    <h2>What we do</h2>
                </div>
            </div>
        </div>
        <p class="offspace-20">Ut consequat velit a metus accumsan, vel tempor nulla blandit. Integer euismod magna vel mi congue suscipit.nsequat velit a metus accumsan, vel tempor nulla blandit. Integer euismod magna vel mi congue susci consequat velit a metus accumsan, vel tempor nulla blandit. Integer euismod magna vel mi congue consequat velit a metus accumsan, vel tempor nulla blandit. Integer euismod magna</p>
    </div>
    <div class="clearfix"></div>
</section>

<section class="about-block section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-heading">
                    <h2>About our salon</h2>
                </div>
            </div>
        </div>
        <div class="row offspace-40">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam euismod nec elit quis vestibulum. Duis pretium lorem sed lorem porttitor, sit amet mattis risus consectetur. Vestibulum in nisi feugiat, dignissim felis in, dictum felis. In hac habi </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam euismod nec elit quis vestibulum. Duis pretium lorem sed lorem porttitor, sit amet mattis risus consectetur. Vestibulum in nisi feugiat, dignissim felis in, dictum felis. In hac habitasse platea dictumst. Ut pretium egestas erat in tempus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam euismod nec elit quis vestibulum. Duis pretium lorem sed lorem porttitor, sit amet mattis risus consectetur. Vestibulum in nisi feugiat, dignissim felis in, dictum felis.</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="about-image">
                    <img src="assets/images/about.png" class="img-responsive" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>

<section class="about-block advantage-block section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-heading">
                    <h2>Advantages</h2>
                </div>
            </div>
        </div>
        <p class="offspace-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam euismod nec elit quis vestibulum. Duis pretium lorem sed lorem porttitor, sit amet mattis risus consectetur. Vestibulum in nisi feugiat, dignissim felis in, dictum felis. In hac habitasse platea dictumst. Ut pretium egestas erat in tempus. Nam consequat leo nisi. Suspendisse non libero ornare, blandit lacus vel, iaculis quam. Duis blandit tristique sem pharetra vestibulum. Cras non orci hendrerit, fringilla magna nec, lacinia nisi. is risus consectetur. Vestibulum in nisi feugiat, dignissim felis in, dictum felis. In hac habitasse platea dictumst. Ut pretium egestas erat in tempus. Nam consequat leo nisi. Suspendisse non libero ornare, </p>
    </div>
    <div class="clearfix"></div>
</section>